.container {
    text-align: center;
    margin-top: 0px;
}
.hero {
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  color: white;
  position: relative;
}
.hero h1{
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
}
.homediv{
    background-color: #f5f5f5;
    padding: 18px;
    color:#333;
    
}


